.header {
    background-color: #7FC7D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_left {
    padding-top: 15px;
    padding-left: 35px;
    padding-bottom: 15px;
}

.header_right {
    display: flex;
    align-items: center;
}

.header_right>.bookmark {
    cursor: pointer;
    font-family: sans-serif;
    color: #0F1035;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.header_right>.bookmark:hover {
    text-decoration: underline;

}

.contact {
    padding-right: 20px !important;
}

.resume {
    cursor: pointer;
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    padding-left: 4px;
    margin-right: 35px !important;
    background-color: #0F1035;
    color: #7FC7D9;
    border-radius: 8px;
    border: 1.5px solid #0F1035;
}

.resume:hover {
    background-color: #7FC7D9;
    color: #0F1035;

}